 .header-1 {
     display: flex;
     justify-content: space-between;
     background: #555;
     height: 38px;
     color: #fff;
     
     padding: 0px 15px 0px 10px;
 }

.header-link {
    margin: 5px;
    content: \e902;
}

.nav-links {
     display: flex;
     justify-content: space-between;
     align-items: center;
     font-size: 12px;
 }

 .nav-links > a {
     text-decoration: none;
 }

  .search {
     display: flex;
     justify-content: space-between;
     padding: 8px, 20px;
     -webkit-box-pack: justify;
     -webkit-box-align: center;
     align-items: center;
     background-color: #eee;
     padding: 5px;
 }

 .search-menu * {
     margin-right: 5px;
     margin-left: 5px;
     margin-top: 1px;
     margin-bottom: 0.5px;
 }

 .search-menu {
     display: flex;
     align-items: center;
 }

 #search-field {
     height: 35px;
     margin-right: 10px;
     border-radius: 5px;
     box-sizing: border-box;
     border: none;
     border: 1px solid lightgray;
     padding-left: 5px;
 }
 #robot-icon {
     height: 72px;
     width: auto;
 }
 
 .search-menu {
     display: flex;

 }
 
#make {
    //  margin-top: 28px;
     font-size: 22px;
     font-weight: bold;
 }

  .projects {
     height: 35px;
     width: 90px;
     border-radius: 5px;
     color: gray;

 }
