.footer {
    display: flex;
    flex-direction: column;
    padding: 5px;
    
    background: #555;
 }

 .footer-row1 {
    display: flex;
    justify-content: space-around;
    border-bottom: 1px solid gray;
    height: 150px;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 25px;
    margin-top: 25px;
 }

 .footer-row1 :last-child {
     margin-right: 15px;
 }

 .footer-row1 > img {
     margin: 8px;
 }

 .footer-row1 * h3 {
     color: white;
 }

 .footer-row1 * li {
     color: gray;
     font-size: 16px;
 }
 .footer-row1 * a {
     color: gray;
     margin-bottom: 3px;
     font-size: 16px;
    //  height: 36px;
 }
 .contact {
     display: flex;
     flex-direction: column;
 }

 .links {
     display: flex;
     flex-direction: column;
 }

 .footer-row2 {
     height: 10px;
 }

//  a[href*='github.com/'] {
//      background: url(https://github.com/favicon.ico) no-repeat  left center;
//      background-size: contain;
//      padding-left: 22px;

//  }
//  a[href*='linkedin.com/'] {
//      background: url(https://linkedin.com/favicon.ico) no-repeat left center;
//      padding-left: 22px;
//  }
//  a[href*='angel.co/'] {
//     padding-left: 22px;

//  }







 
 

