.user-menu-button {
    display: block;
    border-radius: 14px;
    height: 28px;
    width: 28px;
    background: white;
    margin: 5px;
    background-image: url(https://www.instructables.com/assets/img/default/user.TINY.png) 28px, 28px;
    position: relative;
    padding: 0;
 }
 .profile-icon:hover {
     cursor: pointer;
}


  .hide-user-dropdown {
     display: none;
     position: absolute; 
 }

 .show-user-dropdown {
     display: block;
     position: absolute;
     z-index: 1;
     width: 300px;
     border: 1px solid gray;
     right: 15px;
     top: 35px;
     background-color: #fff;
     color: rgb(51, 51, 51);
     font-size: 14;
     border-radius: 6px;
 }

 

 .links-logout {
     display: flex;
     justify-content: space-between;
     border-bottom: 1px solid gray;
     
 }

 .user-links {
     display: flex;
     flex-direction: column; 
     justify-content: center;
     align-items: center;
     margin: 5px;
     font-size: 14px;
 }
 
 .user-links > li {
     color: gray;
     margin-left: 5px;
 }

 .user-links > li:hover {
     color: black;
 }

 .user-makables {
     list-style: none;
     display:flex;
     flex-direction: column;
     margin: 10px;
     color: gray;
 }
 .user-makables > a:hover {
     color: black;
 }

 .user-makables > button:hover {
    background-color: #e5991e;
 }
 
 .project-count {
     display: inline;
     padding: 2px, 9px;
     background: #999999;
     color: #ffffff;
     border-radius: 50%;
 }

 .logout-button {
    background-color: #f6f6f6;
    color: rgb(51, 51, 51);
    height: 34px;
    width: 92px;
    // margin-right: 5px;
    border-radius: 6px;
    padding: 6px, 12px;
    margin: 10px;
    z-index: 1;
 }
 .logout-button:hover {
     background-color: #dedede;
 }


 .new-project {
    border-radius: 6px;
    background-color: #FAAC18;
    border: none;
    width: 100%;
    height: 44px;
    margin-top: 10px;
    color: #ffffff;
    font-size: 18px;
    font-weight: 100;
 }