.project-main {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 40px 115px 36px;
    background: #FFFFFF;
}

.image-input {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 137px;
    min-width: 500px;
    border: 1px solid lightgray;
    border-radius: 6px 6px 0 0;
    border-bottom: none;
    background: #eee;
}

.image-box {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 116px;
    min-width: 480px;
    width: 95%;
    border-radius: 6px;
    border: solid 1px lightgray;
    color: gray;
    -webkit-box-shadow: inset 0 0 3px 3px #dfdfdf;
}

.image-box :first-child {
    align-self: flex-start;
}

.file-field-label {
    position: relative;
}


.file-field:hover {
    cursor: pointer;
}

.file-field {
    display: hidden;
    opacity: 0;
    height: 116px;
    min-width: 500px;
    position: absolute;
}

.hide-project-image {
    display: none;
    
}

.show-project-image {
    display: block;
    height: 100px;
    width: 100px;
    border-radius: 6px;
    border: none; 
    padding-top: 8px;
}


.img_preview {
    display: hidden;
    height: 100px;
    width: 100px;
    border-radius: 6px;
    border: none; 
}

.project-nav {
    display: flex;
    justify-content: space-between;
    min-width: 460px;
    border: 1px solid lightgray;
    border-top: none;
    background: #eee;
    padding: 0 20px 10px 20px;
}

.project-button {
    border-radius: 6px;
    height: 34px;
    padding: 6px 12px;
    background: #F6F6F6;
    color: #333333;
}

.project-button:hover {
    background-color: rgb(240, 240, 240);
}

.steps-box {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 500px;
    border: 1px solid lightgray;
    border-radius: 0 0 6px 6px;
    border-top: none;
    background: white;
    padding-top: 20px;
    padding-bottom: 20px;
    color: gray;
    padding-bottom: 40px;
    padding-top: 40px;
}









// .project-main{
//     display: block;
//     position: relative;
//     margin: 40px 30px 36px;
//     min-height: 100px;
//     width: 1016;
//     background: #fff;
//     // border: 1 solid rgba(119,130,135,.4);
//     // border-radius: 6px;
//     padding: 5px;
//     color: #333;
//     font-size: 14px;
//     line-height: 20px;
//     font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
//     justify-content: center;
//     align-items: center;

// }

// .project-main :first-child {
//     display: flex;
//     flex-direction: column;
//     // width: 100%;
//     // margin: 0;
// }

// .project-form-photo {
//     display: flex;
//     height: 140;
//     // width: 100%;
//     border: 1px solid gray;
//     border-bottom: none;
//     border-radius: 6px 6px 0px 0px;
//     // justify-content: center;
// }

// .project-form-input {
//     display: flex;
//     justify-content: space-between;
//     border: gray solid 1px;
//     border-top: none;
//     // border-radius: 0px 0px 6px 6px;
// }

// .file-field {
//     display: none;
// }

// .input-drop {
//     display: block;
//     position: relative;
// }
// .input-drop:hover .inputs {
//     display: block;
// }

// .show-inputs {
//     display: block;
//     position: absolute;
// }

// .hide-inputs {
//     display: none;
//     position: absolute;
// }

// .img_preview {
//     border: gray solid 1px;
//     border-radius: 6px;
//     margin: 5px;
//     height: 100px;
//     width: 100px;
// }

// .steps-container {
//     display: flex;
//     border: solid gray 1px;
//     border-top: none;
//     border-radius: 0px 0px 6px 6px;
// }

// .hide-delete-button {
//     display: none;
// }

// .show-delete-button {
//     display: flex;
// }