.project-show-main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 30px;

}

.project-show-title-by {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 80%;
    
}



.delete-edit-div {
    display: flex;
    min-width: 200px;
    justify-content: space-between;
    margin: 7px;
}


 .edit-link {
    text-decoration: none;
    border-bottom: none;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 28px;
    width: 50px;
    border: 1px solid gray;
    border-radius: 5px;
    color: gray;
}

.delete-button {
    height: 30px;
    width: 70px;
    border-radius: 5px;
    color: gray;
    border: 1px solid gray;
}


.project-show-image{
    display: flex;
    justify-content: center;
}
.project-show-image :first-child {
    width: 75%;
    border-radius: 6px;
    overflow: hidden;
}

.project-show-title-by > h1 {
    color: #333333;
    font-size: 28px;
    font-weight: 700;
    line-height: 34px;
    text-align: center;
    margin: 0 0 10px;
}
.username-show {
    color: #999;
    font-size: 14px;
    line-height: 25px;
    text-align: center;
    margin: 0 0 10px;
}

.project-show-description {
    max-width: 80%;
    // margin-top: 25px;
    // padding: 5px;
}

.project-show-description > p {
    margin: 15px;
    padding: 5px
}

.project-show-steps {
    width: 80%;
}

.username-edit {
    display: flex;
}