.steps {
    display: flex;
    flex-direction: column;
    align-content: center;
}

.step-index-item {
    display: flex;
    flex-direction: column;
}

.step-box {
    display: flex;
    flex-direction: column;
    align-content: center;
    margin: 10px;
}

.step-item {
    display: flex;
    flex-direction: column;
    align-content: center;
    padding: 5px;
}

.heading-div {
    display: flex;
    justify-content: center;
}

.heading {
    font-size: 22px;
    font-weight: bold;
}

.body {
    margin: 10px;
    font-size: 16px;
    // width: 80%;
    align-self: center;
}