.steps {
    display: flex;
    flex-direction: column;
    align-content: center;
    width: 80%;
}

.step-index-item {
    display: flex;
    flex-direction: column;
}

.step-box {
    display: flex;
    flex-direction: column;
    align-content: center;
    width: 100%;
    // margin: 10px;
}

.step-item {
    display: flex;
    flex-direction: column;
    align-content: center;
    // padding: 5px;
}

.heading-div {
    display: flex;
    justify-content: center;
}

.heading {
    font-size: 22px;
    font-weight: bold;
}

.body {
    margin: 10px;
    font-size: 16px;
    align-self: center;
    line-height: 1.6;
}