.add-step-container-box {
    display: flex;
    justify-content: center;
    width: 100%;
    background-color: #eee;
}

.add-step-box {
    display: flex;
    flex-direction: column;
    border: 1px solid lightgray;
    border-radius: 5px;
    width: 100%;
    align-self: center;
}

.add-step-heading-box, .add-step-body-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
}


.add-step-heading-box textarea {
    border-radius: 6px;
    border: 1px solid lightgray;
    margin: 5px;
}
.add-step-body-box textarea {
    border-radius: 6px;
    border: 1px solid lightgray;
    margin: 5px;
}

.add-step-heading-box div{
    margin: 5px 5px 0 5px;
}

.add-step-body-box div {
    margin: 5px 5px 0 5px;
}

.add-step-heading-box input {
    margin: 5px;
    width: 65%;
    height: 15px;
    border-radius: 5px;
}

.add-step-body-box input {
    margin: 5px;
    width: 65%;
    border-radius: 5px;
    height: 15px;
}

.add-step-button {
    height: 30px;
    width: 100px;
    border-radius: 5px;
    margin: 5px;
    border: 1px solid rgb(229, 153, 30);
    background-color: #faac18;
    color: white;
}

.add-step-button:hover {
    background-color: rgb(229, 153, 30);
}

.add-step-fields {
    display: flex;
}

.add-step-body, .add-step-heading {
    width: 90%;
}

.add-step-submit {
    display: flex;
    justify-content: space-between;
}

//edit step

.edit-step-box {
    display: flex;
    flex-direction: column;
    border: 1px solid lightgray;
    border-radius: 5px;
    width: 90%;
    align-self: center;
    background-color: #eee;
}

.edit-step-button {
    height: 30px;
    width: 80px;
    border-radius: 5px;
    margin: 5px;
    border: 1px solid rgb(229, 153, 30);
    background-color: #faac18;
    color: white;
}

.cancle-step-edit-button {
    height: 30px;
    width: 80px;
    border-radius: 5px;
    margin: 5px;
    border: 1px solid gray;
    background-color: #F6F6F6;
    color: gray;
}

.cancle-step-edit-button:hover {
    background-color: rgb(240, 240, 240);
}

.edit-step-button:hover {
    background-color: rgb(229, 153, 30);
}