// index of comments

.project-comments {

    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 80%;
}

.comments-count-and-container {
    margin: 10px 10px 10px 10px;
    display: flex;
    flex-direction: column;
    align-content: center;
}

.comments-count {
    align-self: center;
    font-size: 30px;
    font-weight: bolder;
}

.comment-box {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: 15px;
    margin-bottom: 15px;
    border-top: 1px solid #ddd;
}

.commenter-details {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.commenter {
    display: flex;
    flex-direction: row;
}

.commenter > p {
    margin-top: 30px;
}

.commenter > p > span {
    color: #DA7300;
}

.delete-comment > button {
    height: 35px;
    width: 70px;
    border-radius: 5px;
    color: gray;
    border: 1px solid gray;
    margin-top: 15px;
}

.comment-item {
    margin-right: 15px;
    margin-left: 15px;
}

// comment entry
.new-comment-main {
    display: flex;
    justify-content: center;
    width: 100%;    

}

.new-comment-box {
    border: solid 1px #ddd;
    border-radius: 6px;
    width: 760px;
    height: 200px;
    background: #f6f6f6;
    margin: 10px;
}

.new-comment-textarea {
    margin-top: 15px;
    margin-right: 15px;
    height: 120px;
    width: 650px;
    background: #FFFFFF;
    color: #333333;
    border-radius: 6px;
    border: 1px solid #ddd;
    resize: none;
    padding: 5px;
}

.new-comment-button {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.new-comment-button > button {
    height: 30px;
    width: 50px;
    border-radius: 5px;
    color: gray;
    border: 1px solid gray;
    margin: 15px 17px 10px 15px;
}

.new-comment-button > div {
    margin: 15px;
}

.new-comment-button > div > p {
    color: gray;
    font-size: 12px;
}

.new-comment-button > div > p > span {
    font-weight: bold;

}
.user-icon {
    display: block;
    border-radius: 25px;
    height: 50px;
    width: 50px;
    background: white;
    margin: 15px;
    background-image: url(https://www.instructables.com/assets/img/default/user.TINY.png) 28px, 28px;
    position: relative;
    padding: 0;
}

.icon-and-body {
    display: flex;
    flex-direction: row;
}

